
/* Default mode */

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-tabs {
    text-align: center;
}

.feedContainer{
	padding-top:30px;
	border-top: solid #03304D 20px;
	border-bottom: solid #03304D 20px;

}
