.input-container{
	padding-right:250px;
	padding-left: 250px;
}
.field{
	padding: 10px;
}

.postTitle{
	padding:10px;
}

.nameHeader{
	padding: 10px;
	padding-top: 30px;
}

.descriptionHeader{
	padding:10px;
	padding-top:30px;
}

.post-container{
	padding-bottom:20px;
}