.welcome-component{
	padding:50px;
	background-color: #03304D;
	color: #e9ecef;
}

.jumbotron{
	background-color: #03304D;
}
.welcome-button{
	padding-top: 30px;
}
.get-started{
	height: 30px;
}
.jumbotron-container{
	height:100%;
	width:100%;
	background-color: #03304D;
	padding:20px;
}
.welcome-text{
	font-size:14px;
}


